:root {
    --main-text-color: #212121;
    --secondary-text-color: #ffffff;
    --ouwer-text-color: #757575;
    --acent-color: #2196f3;
    --contener-color: #eeeeee;
    --logo-color-text: #000000;
    --buttons-port-color: #f5f4fa;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --background-footer-color: #2f303a;
    --background-section: #e5e5e5;
    --line-color: #ececec;
    --background-color: #ffffff;
    --icon-color: #afb1b8;
    --main-font: Roboto, sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--main-text-color);
    font-family: var(--main-font);
    font-size: 14px;
    letter-spacing: 0.03em;}

    

    .logo {
        color:var(--logo-color-text);
        font-family: 'Raleway';
    }
    .web-logo{
        color: var(--acent-color);
    }


/*--header--*/
    .list{
        list-style: none;
    }
    .site-nav .link {
        color: var(--main-text-color);
    }
    .site-nav .link:hover{
        color:var(--acent-color);
    }
    .site-nav .link:focus{
color: var(--main-text-color);
    }

    .site-nav .link.current {
color: var(--acent-color);
    }

    .auth-nav .link {
        color: var(--main-text-color);
    }
    .auth-nav .link:hover{
        color:var(--acent-color);
    }
    .auth-nav .link:focus{
    color: var(--main-text-color);
    }

/*--hero--*/

.hero-title, .section-title{
color: var(--main-text-color);
}

.hero {
background: #2F303A;
font-weight: 900;
font-size: 44px;
line-height: 1.32;
/* or 136% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}
.hero-title{
color: var(--secondary-text-color);
}
.title{
font-weight: 700;
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.feature-list .title {
    color: var(--main-text-color);
}
.features-list .text{
font-weight: 400;
font-size: 14px;
line-height: 1.72;
/* or 171% */
}

.section-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
}

.section-team {
    background-color: var(--buttons-port-color);
}

.button{
    font-weight: 700;
font-size: 16px;
line-height: 1.84;
cursor: pointer;
}
.button:hover {
    color: var(--buttons-port-color);
}
.button:focus {
    color: var(--acent-color);
    background-color: var(--acent-color);
}
.button.primary{
    color: var(--background-color);
    background-color: var(--acent-color)
}

.section-team{
    /* card bg */

background: #FFFFFF;
/* material shadow v1 */

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}

/*--footer--*/


.footer{
    /* Footer bg */

width: 1600px;
height: 252px;
left: 0px;
top: 1628px;
background-color: var(--background-footer-color);
}

.adress {
font-size: 14px;
line-height: 1.73;
/* or 171% */
letter-spacing: 0.03em;
color: var(--secondary-text-color);

}
.contacts {
font-size: 14px;
line-height: 1.73;
/* or 171% */
letter-spacing: 0.03em;    
color: var(--footer-text-color)
}