.list{
    list-style: none;
}
/*--header--*/
.logo {
    color:var(--logo-color-text);
    font-family: 'Raleway';
}
.web-logo{
    color: var(--acent-color);
}

body {
    background-color: var(--background-color);
    color: var(--main-text-color);
    font-family: var(--main-font);
    font-size: 14px;
    letter-spacing: 0.03em;
    }



/*--header--*/
.list{
    list-style: none;
    
}
.site-nav .link {
    color: var(--main-text-color);
}
.site-nav .link:hover{
    color:var(--acent-color);
}
.site-nav .link:focus{
color: var(--main-text-color);
}
.site-nav .link.current {
    color: var(--acent-color);
        }

.button{
    font-weight: 500;
font-size: 16px;
line-height: 1.62;
cursor: pointer;
}

.button:hover {
    color: var(--buttons-port-color);
    background-color: var(--acent-color);
}
.button:focus {
    color: var(--acent-color);

        }
.button.primary{
    color: var(--background-color);
    background-color: var(--acent-color)
}
        
.auth-nav .link {
    color: var(--main-text-color);
}
.auth-nav .link:hover{
    color:var(--acent-color);
}
.auth-nav .link:focus{
color: var(--main-text-color);
}

/*--main--*/

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/*--footer--*/


.footer{
    /* Footer bg */

width: 1600px;
height: 252px;
left: 0px;
top: 1628px;
background-color: var(--background-footer-color);
}
.adress {
font-size: 14px;
line-height: 1.73;
/* or 171% */
letter-spacing: 0.03em;
color: var(--secondary-text-color);

}
.contacts {
    font-size: 14px;
    line-height: 1.73;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: var(--footer-text-color)
}